_ReSharper*
[Bb]in
obj
objd
out/
tmp/
App_Data
*.user
*.sln.cache
*.userosscache
*.suo
TestResults
[Tt]humbs.db
buildd.log
buildd.evt
buildd.dbb
buildd.prf
buildd.trc
buildd.err
build.log
build.evt
build.prf
build.dbb
build.trc
build.err
*.log
*.bak
OACRTemp/
build_logs/
lock
/public/inc/bldver.*
/public/inc/sources.ver
/data
*.projhash*
*.slnhash*
# quickbuild.exe
/target/distrib/*
/VersionGeneratingLogs/
QLogs
QLocal
QTestLogs
pingme.txt

# IISExpress
*/.vs/config/applicationhost.config

# bad tlb/chm generators in nmake tree
*.tlb
*.chm

# silverlight
ClientBin/

# azure
*.build.csdef
csx/

/packages/
/.vs/config/applicationhost.config
/RecommendAPIInt/Profiles/*
