<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionTimeout" value="90"/>
    <add key="SendEmailAccount" value="15154603080@163.com" />
    <add key="MailServerHost" value="smtp.163.com" />
    <add key="RecieveEmailAccountList" value="v-qibi@microsoft.com" />
    <add key="CCList" value="2239635117@qq.com" />
    <add key="GetPartnerIDName" value="select distinct a.AppID,b.PartnerName from dbo.Article a left join dbo.AppKey b on a.AppID=b.AppID" />

    <add key="IgnoreAppIDs" value="xiaoiceTest;dongjingtest" />
  </appSettings>
  <connectionStrings>
    <!--<add name="WareHouseDBConnectionString" connectionString="Server=tcp:saipartnertest.database.windows.net,1433;Initial Catalog=SAIPartnerBackEndDBTest;Persist Security Info=False;User ID=saipartnertestdb;Password=Saibd:98xyz;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <add name="WareHouseDBConnectionString" connectionString="Server=tcp:saipartner.database.chinacloudapi.cn,1433;Initial Catalog=SAIPartnerBackEndDB;Persist Security Info=False;User ID=saipartnerdb;Password=Saibd:12zyx;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>